[Unit]
Description=Launch Go app service
After=network.target

[Service]
Type=simple
User=root
StandardOutput=syslog
StandardError=syslog
ExecStart=<%= @deploy_dir %>/<%= @app_filename %>

[Install]
WantedBy=multi-user.target